<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game24.Properties.Settings.TimeAttackHighScoresConnectionString"
            connectionString="Data Source=|DataDirectory|\TimeAttackHighScores.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>